html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 390px;
  border-radius: 10px;
}
.item:first-child {
  opacity: 1;
}
.item {
  position: absolute;
  display: none;
  width: 500px;
  height: 390px;
  opacity: 0;
}
.shadow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 8px 8px;
}
.text {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  margin-right: 20px;
}
.nav a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.nav a:hover {
  background: #fff;
}
.a_active {
  background: #fff;
}
.itemOpacity {
  animation: setOpacity 1.2s;
}
@keyframes setOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}