html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.hiddenScoll {
  overflow: hidden;
}
.jumpWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.jump {
  width: 500px;
  height: 400px;
  background: brown;
  /* transition: 0.4s; */
}
.jumpIN {
  animation: jumpIN 0.4s linear;
}
.jumpOut {
  animation: jumpOut 0.4s linear;
}